.mar-x-post{
  margin-inline: 18%;
  @media screen and (max-width: 1399px){
    margin-inline: 15%;
  }
  @media screen and (max-width: 1199px){
    margin-inline: 10%;
  }
  @media screen and (max-width: 1199px){
    margin-inline: 0;
  }
}

.half-width {
  width: 50%;
}

.shortDescription {
  min-height: 50px;
}

.mainContent {
  min-height: 150px;
}

.solid {
  .nav-link{
  color: white;
  }
}